@import "../../responsive.scss";

.footerContainer {
    height: 60px;
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: white;
    background-color: rgba(160, 123, 10, 0.6);
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: white;
    text-decoration: none;
}

.social-icons img {
    width: 24px;
}

.social-icons a:hover {
    opacity: 0.7;
}